#root {
  --purple-light: #e774de;
  --salmon: #ff8b91;
  --orange: #ffd461;
  --python-blue: #3f7cae;
  --background: #260b2d;
  --link: #9780f3;
  min-width: 320px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.25rem;
  color:antiquewhite;
  text-wrap: balance;
  line-height: 1.75rem;
  background: var(--background)
}

/* LAYOUT */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:max-content;
}

header {
  margin-bottom: 6rem;
}

article {
  padding: 6rem 0;
}

.project-information {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.project {
  width: max-content;
  padding: 1rem 1rem 3rem 1rem;
  border: 2px solid black;
  border-radius: 5rem;
  background: #24242488;
}

.project-code {
  display: flex;
  gap: 1rem;
  text-align: left;
}

.web {
  flex-grow: 2;
}

.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 6rem 0;
}

.logo-header {
  width: 6rem;
}

.text-box-main {
  max-width: 50ch;
  font-size: 1.5rem;
  line-height: 2.25rem;
}

.text-box {
  max-width: 50ch;
  margin: auto;
}

ul {
  display: block;
  max-width: 30ch;
  margin: auto;
  padding: 2rem;
  border-radius: .5rem;
  list-style-type: disc;
  text-align: left;
  background: rgb(0, 0, 0, 0.5);
  -webkit-box-shadow: 10px 14px 49px 10px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 14px 49px 10px rgba(0,0,0,0.75);
  box-shadow: 10px 14px 49px 10px rgba(0,0,0,0.75);
}

button, input {
  padding: 0.6em 1.2em;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: #1a1a1a;
  font-size: 1em;
  font-family: inherit;
  font-weight: 500;
  text-align: center;
}

button:hover, 
button:focus, 
input:hover,
input:focus {
  border-color: #ffd461;
}

button {
  cursor: pointer;
  transition: all 0.25s;
}

/* TYPOGRAPHY */

h1 {
  font-size: 5rem;
  line-height: 6.5rem;
  background: linear-gradient(45deg, var(--purple-light), var(--salmon), var(--orange));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  color:var(--salmon);
}

h3 {
  color:var(--orange);
  text-shadow: .25rem .5rem 1rem #f9f87188;
}

h4 {
  color:var(--python-blue);
  text-shadow: .25rem .5rem .75rem #5ab2fab3;
}

dfn {
  font-style: normal;
  cursor: pointer;
  border-bottom: .09rem dotted;
}

a {
  color: var(--link);
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  color: var(--purple-light);
}

.language {
  color: var(--purple-light);
}
